
 <header>
<<<<<<< HEAD
   <%= link_to logo, root_path %>       
=======
   <%= link_to logo, root_path %>
       
>>>>>>> 821c711bb803b117017e03c16ceae75b3dfa7ed1
          <nav class="round">
            <ul>
              <li> <%= link_to "Home", root_path %></li>
               <% if signed_in? %>
                <li><%= link_to "Profile", current_user %></li>
               <% end %>
              <li> <%= link_to "Help", help_path %></li>
               <% if signed_in? %>
                <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
                <% else %>
                <li><%= link_to "Sign in", signin_path %></li>
               <% end %>
            </ul>
            
          </nav>
 </header>